In [1]:
import pandas as pd

df = pd.read_csv("../data/clean/borough_features.csv")

simulated_users = [
    {"user_id": 1, "budget_weight": 0.9, "safety_weight": 0.1},
    {"user_id": 2, "budget_weight": 0.7, "safety_weight": 0.3},
    {"user_id": 3, "budget_weight": 0.5, "safety_weight": 0.5},
    {"user_id": 4, "budget_weight": 0.3, "safety_weight": 0.7},
    {"user_id": 5, "budget_weight": 0.1, "safety_weight": 0.9},
    {"user_id": 6, "budget_weight": 0.6, "safety_weight": 0.4},
    {"user_id": 7, "budget_weight": 0.4, "safety_weight": 0.6},
    {"user_id": 8, "budget_weight": 0.2, "safety_weight": 0.8},
    {"user_id": 9, "budget_weight": 1.0, "safety_weight": 0.0},
    {"user_id": 10, "budget_weight": 0.0, "safety_weight": 1.0},
]

In [4]:
# Create training data combining each user with each borough
training_data = []

for user in simulated_users:
    for _, row in df.iterrows():
        # Score = weighted combination of normalized rent and safety
        score = (
            row['norm_rent'] * user['budget_weight'] +
            row['norm_safety'] * user['safety_weight']
        )
        training_data.append({
            "user_id": user["user_id"],
            "budget_weight": user["budget_weight"],
            "safety_weight": user["safety_weight"],
            "norm_rent": row["norm_rent"],
            "norm_safety": row["norm_safety"],
            "borough": row["borough"],
            "score": score
        })

df_train = pd.DataFrame(training_data)
df_train.head()

,user_id,budget_weight,safety_weight,norm_rent,norm_safety,borough,score
0,1,0.9,0.1,0.964561,0.844750,barking and dagenham,0.952580
1,1,0.9,0.1,0.709474,0.750410,barnet,0.713567
2,1,0.9,0.1,1.000000,0.926358,bexley,0.992636
3,1,0.9,0.1,0.674386,0.718257,brent,0.678773
4,1,0.9,0.1,0.877193,0.829766,bromley,0.872450

In [3]:
df_train.to_csv("../data/clean/synthetic_training_data.csv", index=False)
print("Saved synthetic training data to data/clean/synthetic_training_data.csv")

Saved synthetic training data to data/clean/synthetic_training_data.csv